
<ion-view title="Welcome" hide-nav-bar="false">
<ion-content>
<br><br>
<center><img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=Logo%20Here&w=350&h=300&txttrack=0"></center>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <center>
<button class="button button-outline button-positive" ui-sref="dashboard">  Browse Community
</button>
<br>
<br>
<button class="button button-clear button-positive">
  Terms & Conditions
</button>
</center>


        
      </ion-content>
</ion-view>


















